:root {
	--dark: theme('colors.dark.700');
	--lime: theme('colors.lime.500');
	--slate: theme('colors.slate.800');
	--validation-error: theme('colors.red.600');
}

html {
	scrollbar-gutter: stable;

	/* https://www.mayank.co/notes/dialog-default-styles */
	&:has(main[inert]) {
		overflow: clip;
	}
}

body {
	color: var(--dark);
	background-color: theme('colors.amber.50');
	min-height: 100vh;
	min-height: 100dvh;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

button,
label,
input,
select,
textarea,
summary {
	/* https://dbushell.com/2024/03/10/css-button-styles-you-might-not-know/#touch-actions */
	touch-action: manipulation;
}

/* https://frontendmasters.com/blog/you-want-border-color-transparent-not-border-none/ */
@media (forced-colors: active) {
	button,
	input,
	textarea {
		border: 1px solid transparent;
	}
}

button {
	background-color: unset; /* https://unocss.dev/guide/style-reset#tailwind */
}

[aria-disabled='true'] {
	cursor: not-allowed;
}

summary {
	list-style: none;

	&::-webkit-details-marker {
		display: none;
	}
}

th,
td {
	padding: unset;
}

dialog {
	color: inherit;
}

:any-link {
	text-decoration: underline;
}

:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

input:where([type='text'], [type='email'], [type='password'], [type='number']) {
	@apply focus-visible:outline-1px h-9 border border-current px-1.5 focus-visible:outline-offset-0;
}

:is(input, select, textarea):user-invalid {
	@apply border-[--validation-error] focus-visible:outline-[--validation-error];
}

@supports not selector(:user-invalid) {
	:is(input, select, textarea):invalid {
		@apply border-[--validation-error] focus-visible:outline-[--validation-error];
	}
}

.primary-button {
	@apply rounded-4.5 text-1rem inline-block h-9 bg-[--slate] px-5 text-white focus-visible:outline-[--slate];
}

.secondary-button {
	@apply rounded-4.5 text-1rem inline-block h-9 border-2 border-current px-4 text-[--slate];
}

.close-button {
	@apply rounded-50% inline-grid place-content-center bg-[--slate] text-white focus-visible:outline-[--slate];
}

.close-icon {
	@apply h-3.5 w-3.5;
	rotate: 45deg;
	fill: currentColor;
}
