:root {
	--black: oklch(0% 0 0);
	--white: oklch(100% 0 0);
	--dark: oklch(22.21% 0 0); /* theme('colors.dark.700') */
	--lime: oklch(76.81% 0.204 130.85); /* theme('colors.lime.500') */
	--slate: oklch(27.95% 0.037 260.03); /* theme('colors.slate.800') */
	--validation-error: oklch(57.71% 0.215 27.33); /* theme('colors.red.600') */
	--yellow: oklch(83.09% 0.1708 81.53);
	--golden: oklch(88.68% 0.182 95.33);
}

html {
	scrollbar-gutter: stable;

	/* https://www.mayank.co/notes/dialog-default-styles */
	&:has(main[inert]) {
		overflow: clip;
	}
}

body {
	color: var(--dark);
	background-color: oklch(98.69% 0.021 95.28); /* theme('colors.amber.50') */
	min-height: 100vh;
	min-height: 100dvh;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

button,
label,
input,
select,
textarea,
summary {
	/* https://dbushell.com/2024/03/10/css-button-styles-you-might-not-know/#touch-actions */
	touch-action: manipulation;
}

/* https://frontendmasters.com/blog/you-want-border-color-transparent-not-border-none/ */
@media (forced-colors: active) {
	button,
	input,
	textarea {
		border: 1px solid transparent;
	}
}

button {
	background-color: unset; /* https://unocss.dev/guide/style-reset#tailwind */
}

[aria-disabled='true'] {
	cursor: not-allowed;
}

summary {
	list-style: none;

	&::-webkit-details-marker {
		display: none;
	}
}

th,
td {
	padding: unset;
}

dialog {
	color: inherit;
}

:any-link {
	text-decoration: underline;
}

:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

input:where([type='text'], [type='email'], [type='password'], [type='number'], [type='search']) {
	@apply focus-visible:outline-1px h-9 border border-current bg-[--white] px-1.5 focus-visible:outline-offset-0;
}

:is(input, select, textarea):user-invalid {
	@apply border-[--validation-error] focus-visible:outline-[--validation-error];
}

@supports not selector(:user-invalid) {
	:is(input, select, textarea):invalid {
		@apply border-[--validation-error] focus-visible:outline-[--validation-error];
	}
}

.primary-button {
	@apply rounded-4.5 text-1rem inline-block h-9 bg-[--yellow] px-5 text-[--slate] focus-visible:outline-[--slate];
}

.secondary-button {
	@apply rounded-4.5 text-1rem border-1.5 inline-block h-9 border-current px-4 text-[--slate];
}

.close-button {
	@apply rounded-50% inline-grid place-content-center bg-[--slate] text-white focus-visible:outline-[--slate];
}

.close-icon {
	@apply size-3.5;
	rotate: 45deg;
	fill: currentColor;
}

/* https://css-tricks.com/animating-number-counters/ */
@property --count-up {
	syntax: '<integer>';
	initial-value: 0;
	inherits: false;
}

.count-up {
	counter-reset: countUp calc(var(--count-up) * 1);
	transition: --count-up 1.6s cubic-bezier(0.33, 1, 0.68, 1); /* easeOutCubic */

	@media (prefers-reduced-motion) {
		transition-duration: 0s;
	}

	&::before {
		content: counter(countUp);
		margin-right: 0.4ch;
		font-weight: 600;
		font-variant-numeric: tabular-nums;
	}
}
