body {
	color: theme('colors.dark.700');
	background-color: theme('colors.amber.50');
	min-height: 100vh;
	min-height: 100dvh;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

button {
	background-color: unset; /* https://unocss.dev/guide/style-reset#tailwind */
}

/* iOS */
button[type='submit'] {
	font-weight: 400;
}

:disabled {
	cursor: default;
}

summary {
	list-style: none;

	&::-webkit-details-marker {
		display: none;
	}
}

th,
td {
	padding: unset;
}

:any-link {
	text-decoration: underline;
}

:focus-visible {
	outline: 2px solid currentColor;
	outline-offset: 2px;
}

input:where([type='text'], [type='email'], [type='password'], [type='number']) {
	@apply focus-visible:outline-1px h-9 border border-current px-1.5 focus-visible:outline-offset-0;
}

:is(input, select, textarea):user-invalid {
	@apply border-red-600 focus-visible:outline-red-600;
}

@supports not selector(:user-invalid) {
	:is(input, select, textarea):invalid {
		@apply border-red-600 focus-visible:outline-red-600;
	}
}

.re__primary-button {
	@apply rounded-4.5 text-1rem inline-block h-9 bg-slate-800 px-5 text-white focus-visible:outline-slate-800;
}

.re__secondary-button {
	@apply rounded-4.5 text-1rem inline-block h-9 border-2 border-current px-4 text-slate-800;
}

.re__close-icon {
	@apply h-3.5 w-3.5 rotate-45 fill-current;
}

dialog {
	@apply color-inherit rounded-2 w-sm fixed max-w-[calc(100vw-1.5rem)] border border-black p-3 pt-14;

	&::before {
		content: '';
		@apply rounded-t-2 absolute left-0 top-0 h-12 w-full border-b border-b-black bg-gray-200;
	}

	&::backdrop {
		@apply fixed inset-0 bg-black/30;
	}
}
