body {
	color: theme('colors.dark.700');
	background-color: theme('colors.amber.50');
	min-height: 100vh;
	min-height: 100dvh;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

button {
	background-color: unset; /* https://unocss.dev/guide/style-reset#tailwind */
}

/* iOS */
button[type='submit'] {
	font-weight: 400;
}

:disabled {
	cursor: default;
}

summary {
	list-style: none;

	&::-webkit-details-marker {
		display: none;
	}
}

th,
td {
	padding: unset;
}

:any-link {
	text-decoration: underline;
}

input {
	@apply h-9 border border-current px-1.5;
}

input:user-invalid,
select:user-invalid,
textarea:user-invalid {
	@apply border-red-500;
}

@supports not selector(:user-invalid) {
	input:invalid,
	select:invalid,
	textarea:invalid {
		@apply border-red-500;
	}
}

.re__primary-button {
	@apply rounded-4.5 inline-block h-9 bg-slate-800 px-5 text-white; /* bg-gray-800 bg-sky-600 */
}

.re__secondary-button {
	@apply rounded-4.5 inline-block h-9 border-2 border-current px-4 text-slate-800;
}

.re__close-icon {
	@apply h-3.5 w-3.5 rotate-45 fill-current;
}

dialog {
	@apply color-inherit rounded-2 w-sm relative max-w-[calc(100vw-1.5rem)] border border-black p-3 pt-14;

	&::before {
		content: '';
		@apply rounded-t-2 absolute left-0 top-0 h-12 w-full border-b border-b-black bg-gray-200;
	}

	&::backdrop {
		@apply fixed inset-0 bg-black/30;
	}
}
