:root {
	--duration: 240000; /* 4 minutes */
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* iOS */
button[type='submit'] {
	@apply font-normal;
}

:disabled {
	cursor: default;
}

summary {
	@apply list-none;

	&::-webkit-details-marker {
		display: none;
	}
}

/* dev only */
input {
	border: 1px solid canvasText;
	padding: 0.125rem 0.25rem;
}

input:user-invalid,
select:user-invalid,
textarea:user-invalid {
	border-color: red;
}

@supports not selector(:user-invalid) {
	input:invalid,
	select:invalid,
	textarea:invalid {
		border-color: red;
	}
}

button {
	background-color: hsl(0deg 0% 90%);
	border: 1px solid currentColor;
	border-radius: 0.25rem;
	padding: 0.0625rem 0.25rem;

	/* &:disabled {
		background: deeppink;
	} */
}
/* END dev only */

:any-link {
	text-decoration: underline;
}
